<ion-view view-title="Login">
  <ion-content ng-controller="LoginCtrl">
    <form name="loginForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" id="email" name="email" ng-model="email" ng-minlength="5">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" id="password" ng-model="password" ng-minlength="6">
        </label>
      </div>

      <div class="padding">
        <p class="assertive" ng-show="loginForm.email.$error.required">* Email is required</p>
        <p class="assertive" ng-show="loginForm.email.$error.email">- Email must be an email address</p>
        <p class="assertive" ng-show="loginForm.email.$error.minlength">- Email must be longer than 5 characters</p>
        <p class="assertive" ng-show="loginForm.password.$error.required">- Password is required</p>
        <p class="assertive" ng-show="loginForm.password.$error.minlength">- Password must be longer than 6 characters</p>
      </div>

      <div class="padding">
        <button type="button" class="button button-block button-positive" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid"
                ng-click="submit(email, password)" ng-disabled="">Submit</button>
      </div>
    </form>
    <div class="padding">
      <a type="button" class="button ng-template button-outline button-balanced" href="#/tab/register">
        Not registered yet ?
      </a>
    </div>
  </ion-content>
</ion-view>
