<!--
    <form name="registerForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nom</span>
          <input type="text" name="name" id="name" ng-model="name" ng-minlength="3">
        </label>
        <label class="item item-input">
          <span class="input-label">Age</span>
          <input type="number" name="age" id="age" ng-model="age" ng-minlength="2">
        </label>
        <label class="item item-input">
          <span class="input-label">Mot de Passe</span>
          <input type="password" name="passwordP" id="passwordP"
                 ng-model="passwordP" ng-minlength="6" ng-maxlength="20" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Confirmation</span>
          <input type="password" name="passwordCheck" id="passwordCheck" ng-model="passwordCheck"
                 ng-minlength="6" ng-keyup="passwdcheck()">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" id="email" name="email" ng-model="email" ng-minlength="5">
        </label>
        <label class="item item-input">
          <span class="input-label">Biographie</span>
          <input type="text" id="bio" name="bio" ng-model="bio" ng-minlength="5">
        </label>
        <button id="fileUpload" name="fileUpload" class="fileUpload">
          Ma photo de Profile
          <input type="file" fileread="fileSelected" id="picfile"
                 name="picfile" class="upload" ng-model="picfile"/>
        </button>
        {{ fileSelected.name }}
      </div>

      <div class="padding">
        <p class="assertive" ng-show="registerForm.name.$error.minlength">
          - Your name is incorect</p>
        <p class="assertive" ng-show="registerForm.age.$error.minlength">
          - Age is incorect</p>

        <p class="assertive" ng-show="registerForm.email.$error.required">
         -* Email is required</p>
        <p class="assertive" ng-show="registerForm.email.$error.email">
          - Email must be an email address</p>
        <p class="assertive" ng-show="registerForm.email.$error.minlength">
          - Email must be longer than 5 characters</p>

        <p class="assertive" ng-show="registerForm.passwordP.$error.required">
          - Password is required</p>
        <p class="assertive" ng-show="registerForm.passwordP.$error.minlength">
          - Password must be longer than 6 characters</p>

        <p class="assertive" ng-show="match">
          - The two password don't match </p>
      </div>

      <div class="padding">
        <button type="button" class="button button-block button-balanced"
                ng-disabled="registerForm.email.$invalid || registerForm.password.$invalid || match || registerForm.name.$error.minlength || registerForm.age.$error.minlength || registerForm.bio.$error.minlength"
                ng-click="submit()">Submit</button>
      </div>
    </form>
-->
<ion-view view-title="Register">
  <ion-content ng-controller="RegisterCtrl" class="back">
    <head>
      <meta charset="UTF-8">
      <title>Interactive Sign Up Form</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    </head>

    <body>
      <div class="registration-form" style="margin-top:10%">
        <header>
          <h1>Sign Up</h1>
          <p>Fill in all informations</p>
        </header>
        <form>
          <div class="input-section email-section">
            <input class="email" ng-model="email" style="height:inherit" ng-change="email_onChange()" type="email" placeholder="ENTER YOUR E-MAIL HERE" autocomplete="off"/>
            <div class="animated-button">
              <span class="icon-paper-plane">
                <i class="fa fa-envelope-o"></i>
              </span>
              <span ng-mouseover="next_hover()" ng-click="next_button_email()" class="next-button email">
                <i class="fa fa-arrow-up"></i>
              </span>
            </div>
          </div>
          <div class="input-section password-section folded">
            <input class="password" ng-model="password" style="height:inherit" ng-change="password_onChange()" type="password" placeholder="ENTER YOUR PASSWORD HERE"/>
            <div class="animated-button">
              <span class="icon-lock">
                <i class="fa fa-lock"></i>
              </span>
              <span ng-mouseover="next_hover()" ng-click="next_button_password()" class="next-button password">
                <i class="fa fa-arrow-up"></i>
              </span>
            </div>
          </div>
          <div class="input-section repeat-password-section folded">
            <input class="repeat-password" ng-model="repeat_password" style="height:inherit" ng-change="repeat_password_onChange()" type="password" placeholder="REPEAT YOUR PASSWORD HERE"/>
            <div class="animated-button">
              <span class="icon-repeat-lock">
                <i class="fa fa-lock"></i>
              </span>
              <span ng-mouseover="next_hover()" ng-click="next_button_repeat_password()" class="next-button repeat-password">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
          </div>
          <div class="success">
            <p>ACCOUNT CREATED</p>
          </div>
        </form>
      </div>
    </body>

  </ion-content>
</ion-view>
