<ion-view view-title="Ma To-do List">
  <ion-content ng-controller="TrackCtrl">
    <div class="card">
      <div style="text-align:left;display:flex">
        <div class="wrapper">
          <img src="{{ userPic }}"/>
          <div id="progressBarT"></div>
        </div>
        <div class="list text-wrap" style="width:70%;right:0px">
          <li class="item item-text-wrap">
            Vous avez atteint {{ (progress * 100) + '% de votre 1er objectif'}}
          </li>
          <li class="item item-text-wrap">
            {{ "Vous êtes en semaine " +  programTime + " du programme Physis" }}
          </li>
        </div>
      </div>
    </div>
    <div class="list card">
        <a class="item item-divider centered item-icon-left item-icon-right">
          <button class="button icon ion-chevron-left" ng-click="changeDate(-1)"></button>
          {{ weekday[today] + ' ' + dayMonth + ' ' + monthNames[month - 1] }}
          <button class="button icon ion-chevron-right" ng-click="changeDate(1)" ng-show="dayMonth != aDay || month != aMonth"></button>
      </a>
      <div class="big item {{ validWeight ? '' : 'calm' }}" ng-click="toggleWeight = !toggleWeight">
        <i class="big {{ validWeight ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Votre poids du jour
      </div>
      <div class="item item-text-wrap" ng-show="toggleWeight">
        Notez votre poids du jour ici
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Poids en Kg" ng-model="iweight">
          </label>
          <button class="button button-small button-positive" ng-click="setTrack(iweight,'weight')">
            {{ validWeight ? 'Modifier' : 'Enregistrer' }}
          </button>
        </div>
      </div>
      <div class="big item {{ validSteps ? '' : 'calm' }}" ng-click="toggleSteps = !toggleSteps">
        <i class="big {{ validSteps ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Renseignez le « Bougeomètre »
      </div>
      <div class="item item-text-wrap" ng-show="toggleSteps">
        Entrez le nombre de pas que vous avez effectués dans la
        journée. Attention, pour valider cette tâche il vous
        faudra accomplir plus de 8000 pas en une journée !
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" placeholder="Nombres de pas" id="isteps" name="isteps" ng-model="isteps">
          </label>
          <button class="button button-small button-positive" ng-click="setTrack(isteps,'steps')">
            {{ validSteps ? 'Modifier' : 'Enregistrer' }}
          </button>
        </div>
      </div>
      <div class="big item {{ validLesson ? '' : 'calm' }}" ng-click="toggleLesson = !toggleLesson">
        <i class="big {{ validLesson ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        La leçon de la semaine
      </div>
      <div class="item item-text-wrap" ng-show="toggleLesson">
        Pour progresser plus vite, Physis vous recommande
        d’effectuer votre leçon le plus tôt possible dans la semaine
        (oui dès le dimanche soir !)
        <button class="button button-block button-outline button-calm" ng-click="toggleLesson = !toggleLesson">
          Vers ma leçon de 20 min !
        </button>
      </div>
      <div class="big item {{ validSpPlan ? '' : 'calm' }}" ng-click="toggleSpPlan = !toggleSpPlan">
        <i class="big {{ validSpPlan ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Planifiez votre sport de la semaine
      </div>
      <div class="item item-text-wrap" ng-show="toggleSpPlan">
        Votre 2ème objectif Physis est d’arriver à intégrer dans votre quotidien jusqu’à 150
        min d’activité sportive. Allez-y progressivement. Fixez-vous un objectif
        cette semaine et rendez-vous la tâche plus facile en planifiant vos activités. Attention,
        une fois enregistré, vous ne pourrez pas plus modifier votre planning.
        <label class="item item-input item-select"  ng-show="!validSpPlan">
          <div class="input-label">
            Jour
          </div>
          <select ng-model="planDay">
            <option ng-repeat="day in weekday track by $index">{{ day }}</option>
          </select>
        </label>
        <label class="item item-input item-select" ng-show="!validSpPlan">
          <div class="input-label">
            Sport
          </div>
          <select ng-model="planSport">
            <option ng-repeat="sport in sports track by $index">{{ sport }}</option>
          </select>
        </label>
        <label class="item item-input item-select" ng-show="!validSpPlan">
          <div class="input-label">
            Duree en minutes
          </div>
          <select ng-model="planPeriod">
            <option ng-repeat="period in periods track by $index">{{ period }}</option>
          </select>
        </label>
        <button class="button button-block button-outline button-positive" ng-show="!validSpPlan" ng-click="addSpPlan()">
          Ajouter au planning
        </button>
        <div class="list list-inset" ng-repeat="session in weekSportsPlan track by $index">
          {{ session[0] + " " + session[1] + " Pendant : " + session[2] + " minutes"}}
          <button class="button button-small button-outline button-assertive ion-close-circled" ng-click="deletePlan($index)"></button>
        </div>
        {{ weekSportsPlanTime ? "Temps d'activite sportive planifie pour cette semaine : " + weekSportsPlanTime + " minutes" : '' }}
        <button class="button button-block button-outline button-balanced"  ng-show="!validSpPlan" ng-click="setSpPlan()">
          Enregistrer
        </button>
      </div>
      <div class="big item {{ validSport ? '' : 'calm' }}" ng-click="toggleSport = !toggleSport">
        <i class="big {{ validSport ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Une session de sport à entrer ?
      </div>
      <div class="item item-text-wrap" ng-show="toggleSport">
        Bravo ! Vous avez effectué une session de sport aujourd’hui !
        Enregistrez là ici ! Peut importe qu’elle soit inscrite ou non à votre planning
        de la semaine, vous avez fait du sport!
        <label class="item item-input item-select">
          <div class="input-label">
            Sport
          </div>
          <select ng-model="sportDay">
            <option ng-repeat="sport in sports track by $index">{{ sport }}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Duree en minutes
          </div>
          <select ng-model="sportDayTime">
            <option ng-repeat="period in periods track by $index">{{ period }}</option>
          </select>
        </label>
        <button class="button button-block button-outline button-balanced" ng-click="setTrack(0,'sportDay')">
          {{ validSport ? 'Modifier' : 'Enregistrer' }}
        </button>
      </div>
      <div class="big item {{ validBF ? '' : 'calm' }}" ng-click="toggleBF = !toggleBF">
        <i class="big {{ validBF ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Petit Déjeuner
      </div>
      <div class="item item-text-wrap" ng-show="toggleBF">
        Décrivez votre repas en quelques mots ICI. Vous pouvez
        également le prendre en photo en cliquant sur l’icone.
        <button  id="BFUpload" name="BFUpload" class="chatUpload ion-image" ng-click="sendimg()">
          <input type="file" accept="image/*" chatupload="fileSelected" id="picfile"
                 name="BFfile" class="upload" ng-model="BFfile"/>
        </button>
        <label class="item-input item-input-wrapper">
          <input type="text" placeholder="Description" ng-model="iDescBF">
        </label>
          <div class="assertive centered ion-fork"> Portion</div>
          <div class="button-bar">
            <button class="button button-outline {{ selectedBF[0] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(0, 0)">Petite</button>
            <button class="button button-outline {{ selectedBF[1] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(1, 0)">Moyenne</button>
            <button class="button button-outline {{ selectedBF[2] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(2, 0)">Grande</button>
          </div>
          <div class="energized centered ion-ios-nutrition"> Qualite du repas</div>
          <div class="button-bar">
            <button class="button button-outline {{ selectedBF[3] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(3, 0)">Trop gras</button>
            <button class="button button-outline {{ selectedBF[4] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(4, 0)">Trop sucré </button>
            <button class="button button-outline {{ selectedBF[5] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(5, 0)">Equilibré</button>
          </div>
          <button class="button button-block button-outline button-positive" ng-click="setBF()">
            {{ validBF ? 'Modifier' : 'Enregistrer' }}
          </button>
      </div>
      <div class="big item {{ validLC ? '' : 'calm' }}" ng-click="toggleLC = !toggleLC">
        <i class="big {{ validLC ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Déjeuner
      </div>
      <div class="item item-text-wrap" ng-show="toggleLC">
        Entre les detailles de votre Déjeuner et ajouter une photo !
        <button  id="chatUpload" name="chatUpload" class="chatUpload ion-image" ng-click="sendimg()">
          <input type="file" accept="image/*" chatupload="fileSelected" id="picfile"
                 name="chatfile" class="upload" ng-model="chatfile"/>
        </button>
        <label class="item-input item-input-wrapper">
          <input type="text" placeholder="Description" ng-model="iDescLC">
        </label>
        <div class="assertive centered ion-fork"> Portion</div>
        <div class="button-bar">
          <button class="button button-outline {{ selectedLC[0] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(0, 1)">Petite</button>
          <button class="button button-outline {{ selectedLC[1] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(1, 1)">Moyenne</button>
          <button class="button button-outline {{ selectedLC[2] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(2, 1)">Grande</button>
        </div>
        <div class="energized centered ion-ios-nutrition"> Qualite du repas</div>
        <div class="button-bar">
          <button class="button button-outline {{ selectedLC[3] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(3, 1)">Trop gras</button>
          <button class="button button-outline {{ selectedLC[4] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(4, 1)">Trop sucré</button>
          <button class="button button-outline {{ selectedLC[5] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(5, 1)">Equilibré</button>
        </div>
        <button class="button button-block button-outline button-positive" ng-click="setLC()">
          {{ validLC ? 'Modifier' : 'Enregistrer' }}
        </button>
      </div>
      <div class="big item {{ validDN ? '' : 'calm' }}" ng-click="toggleDN = !toggleDN">
        <i class="big {{ validDN ? 'balanced ion-ios-checkmark' : 'ion-ios-circle-outline' }}"></i>
        Dîner
      </div>
      <div class="item item-text-wrap" ng-show="toggleDN">
        Entre les detailles de votre  Dîner et ajouter une photo !
        <button  id="chatUpload" name="chatUpload" class="chatUpload ion-image" ng-click="sendimg()">
          <input type="file" accept="image/*" chatupload="fileSelected" id="picfile"
                 name="chatfile" class="upload" ng-model="chatfile"/>
        </button>
        <label class="item-input item-input-wrapper">
          <input type="text" placeholder="Description" ng-model="iDescDN">
        </label>
        <div class="assertive centered ion-fork"> Portion</div>
        <div class="button-bar">
          <button class="button button-outline {{ selectedDN[0] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(0, 2)">Petite</button>
          <button class="button button-outline {{ selectedDN[1] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(1, 2)">Moyenne</button>
          <button class="button button-outline {{ selectedDN[2] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(2, 2)">Grande</button>
        </div>
        <div class="energized centered ion-ios-nutrition"> Qualite du repas</div>
        <div class="button-bar">
          <button class="button button-outline {{ selectedDN[3] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(3, 2)">Trop gras </button>
          <button class="button button-outline {{ selectedDN[4] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(4, 2)">Trop sucré </button>
          <button class="button button-outline {{ selectedDN[5] ? 'button-balanced' : 'button-dark' }}" ng-click="updateChoice(5, 2)">Equilibré</button>
        </div>
        <button class="button button-block button-outline button-positive" ng-click="setDN()">
          {{ validDN ? 'Modifier' : 'Enregistrer' }}
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
