<ion-view view-title="Leçons">
  <ion-content ng-controller="LessonCtrl">
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://farm1.enviedebienmanger.fr/sites/default/files/styles/large/public/fields/practical_sheet/2016/juil/7_menus_equilibres.jpg?itok=u9mJ6mA8">
        <h2>Bien manger, ça veut dire quoi ?</h2>
        <p>November 05, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="http://farm1.enviedebienmanger.fr/sites/default/files/styles/large/public/fields/practical_sheet/2016/juil/7_menus_equilibres.jpg?itok=u9mJ6mA8">
        <p>
          Une alimentation saine, c’est une alimentation à la fois équilibrée et variée. L’idée, pour rester en forme et en bonne santé, étant de manger de tout, en quantité appropriée. Sans jamais rien s’interdire, mais en privilégiant certains aliments comme les fruits et les légumes et dans une certaine mesure, les produits laitiers.
          Le Programme National Nutrition Santé, mis en place par l’Etat et les professionnels de santé publique, propose ainsi 9 repères pour bien manger (voir encadré).
          Sachez également qu’en moyenne un homme adulte a besoin de 2 100 à 2 500 kcal par jour, tandis qu’une femme adulte pourra consommer entre 1 800 et 2 000 kcal par jour. Evidemment, ces chiffres sont variables en fonction des individus, de leur âge, de leur activité physique et de leur état de santé.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
