<ion-view view-title="Groupe">
  <ion-content ng-controller="GroupCtrl">
    <div class="card">
      <div class="group-top" ng-repeat="uid in Guids track by $index">
        <a href="{{ '/account/' + uid }}">
        <img class="group-top" id="profilePic" name="profilePic" ng-src="{{ GprofilePic[$index] }}"></img>
        <span><br/>{{ Gnames[$index] }}</span>
        </a>
      </div>
    </div>
    <div class="list padding">
      <li class="{{ message.style }} item item-text-wrap" ng-repeat="message in conversation track by $index">
        <h2 class="{{ message.color }}">{{ message.name }}</h2>
        <h3  class="">{{ message.msg }}</h3>
        <img class="chatimg" ng-show="message.img" ng-src="{{ message.img }}"></img>
      </li>
    </div>
    x<br/>
  </ion-content>
  <div ng-controller="inputCtrl" class="item fixed-bottom item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" id="message" name="message" ng-model="message" placeholder="Message">
    </label>
    <button class="button button-small" ng-click="sendMsg(0)">
      Envoyer
      </button>
      <button  id="chatUpload" name="chatUpload" class="chatUpload ion-image" ng-click="choosePhoto()">
        <input ng-show="!camera" type="file" accept="image/*" chatupload="fileSelected" id="picfile"
               name="chatfile" class="upload" ng-model="chatfile"/>
      </button>
  </div>
</ion-view>
