<ion-view view-title="Group">
  <ion-content ng-controller="GroupCtrl">
    <div class="card">
      <div class="group-top" ng-repeat="uid in Guids track by $index">
        <a href="{{ '/account/' + uid }}">
        <img class="group-top" id="profilePic" name="profilePic" ng-src="{{ GprofilePic[$index] }}"></img>
        <span><br/>{{ Gnames[$index] }}</span>
        </a>
      </div>
    </div>
    <div class="list padding">
      <li class="{{ message.style }} item item-text-wrap" ng-repeat="message in conversation track by $index">
        <h2 class="{{ message.color }}">{{ message.name }}</h2>
        <h3  class="">{{ message.msg }}</h3>
        <img class="chatimg" ng-show="message.img" ng-src="{{ message.img }}"></img>
      </li>
    </div>
    <div class="item fixed-bottom item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" id="message" name="message" ng-model="coachMessage" placeholder="Message">
      </label>
      <button class="button button-small" ng-click="send()">
        Envoyer
      </button>
      <button  class="button button-small ion-image" ng-click="takePhoto()"></button>
    </div>
  </ion-content>
</ion-view>
